.btn {
    padding: 1.65rem 3rem 1.5rem;
    font-family: var(--text-heading);
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    background-color: var(--warm-grey-500);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .45s ease-in-out;
    letter-spacing: .1em;
    font-weight: 500;
    display: flex;
    grid-gap: 1rem;
    align-items: baseline;
    align-items: center;
}

.secondary .btn {
    padding: 1.1rem 2rem 1rem;
    font-family: var(--text-heading);
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    background-color: var(--warm-grey-700);
    border-radius: .25rem;
    cursor: pointer;
    transition: all .45s ease-in-out;
    letter-spacing: .1em;
    font-weight: 500;
}

.submit .btn {
    padding: 1.1rem 2rem 1rem;
    font-family: var(--text-heading);
    color: var(--color-background);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    background-color: var(--color-blog);
    border-radius: .25rem;
    cursor: pointer;
    transition: all .45s ease-in-out;
    letter-spacing: .1em;
    font-weight: 500;
}

.btn:hover {
    color: var(--color-background);
    background-color: var(--color-blog);
}

.secondary .btn:hover{
    color: var(--color-blog);
    background-color: var(--warm-grey-600);
}

.social .btn{
    border-radius: 50%;
    background-color: var(--warm-grey-900);
    width: 128px;
    height: 128px;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: solid 2px transparent;
    transition: all .45s ease-in-out;
}

.social .btn:hover{
    border-color: var(--color-blog);
}

@media only screen and (max-width: 740px) {
    .btn{
        font-size: 1.25rem;
        padding: 1.5rem 1.5rem;
    }
    
    .social .btn{
        width: 64px;
        height: 64px;
    }

    .social .btn img {
        height: 24px;
        width: 24px;
    }
}