.display-none{
    display: none;
}

.display-block{
    display: block;
}

.scrim {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
    z-index: 100; 
}

.formContent {
    background-color: var(--color-background);
    background-color: var(--warm-grey-900);
    border-radius: var(--border-roundy);
    max-width: 900px;
    max-height: 90vh;
    margin: auto auto;
    position: relative;
    padding: 4rem;
    transition: all 1s;
    max-width: max(40vw, 300px);
}

header {
    /* border-bottom: solid 1px var(--warm-grey-700); */
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: var(--warm-grey-400);
}

.stepper {
    text-align: center;
    width: 100%;
}

.formContent footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    border-top: solid 1px var(--warm-grey-600);
    padding-top: 2rem;
}

[data-pag="prev"] {
    grid-column: 1 / 2;
}

[data-pag="next"] {
    grid-column: 2 / 3;
    justify-self: end;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5rem;
    line-height: 1.5;
    font-size: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    transition: .4s;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.close:hover {
    background-color: var(--warm-grey-700);
}


/* FORM INPUT */
#birth {
    color: var(--warm-grey-200);
}
.terms{
    display: flex;
    grid-gap: .5rem;
}

.privacy {
    display: inline-block;
}

