.sectionHeading {
    color: var(--color-text);
    padding: 7rem 0 4rem;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: var(--color-text);
}

.space{
    padding: 0 .5rem 0 .5rem;
}

/* FEATURED BLOG POST */
.featuredPost{
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 3rem;
    padding: 3.5rem 0;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1rem;
    margin: .5rem 0 1rem 0;
}

.data {
    padding-right: 1.5rem;
    border-right: solid 2px #565656;
    color: #838383;
    text-transform: uppercase;
    font-size: 1rem;
}

.day{
    color: var(--color-blog);
    font-size: 4.2rem;
    font-family: var(--text-heading);
    font-weight: 900;
    display: block;
    line-height: 1.1;
}

/* REGULAR BLOG POST */
.blogPost{
    padding: 0 3rem 0 3rem;
}

.title{
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.1;
}

.sub{
    font-size: 0.75rem;
    margin: .2rem 0 .5rem 0;
    text-transform: uppercase;
}

.excerpt{
    font-size: 1rem;
}