:root {
    --color-background: #121212; 
    --color-gray-dark: #292929;
    --color-text: #f3f3f3;
    --color-blog: #fbcc33;
    --gutter: 16px;
    --text-heading: Space Grotesk, sans-serif;
    --text-copy: 'Inria Sans', sans-serif;
    --transparency: .6;
    --border-roundy: 2rem;
}

html {
    background-color: var(--color-background);
    font-family: var(--text-copy);
    overflow-x: hidden;
    color: var(--color-text);
    line-height: 1.65;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    color: var(--color-text);
    text-decoration: none;
    border-bottom: solid 2px var(--color-blog);
}

a:hover {
    color: var(--color-blog); 
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--text-heading);
    margin: 0;
    /* letter-spacing: 0.5px; */
    letter-spacing: 0.01em;
    line-height: 1.15;
}

h1 {
    font-size: 4.21rem;
}
h2 {
    font-size: 3.157rem;
}
h3 {
    font-size: 2.369rem;
    font-weight: 500;
}
h4 {
    font-size: 1.777rem;
    margin-bottom: -.5rem;
    line-height: 1.65;
}

p {
    line-height: 1.65;
    font-size: 1rem;
    margin: 0;
}

.big{
    font-size: 1.333rem;
}

.bigger {
    font-size: 1.5rem;
}

.giant {
    font-size: 2rem;
}

blockquote {
    margin: 0;
    max-width: 931px;
}

@media only screen and (max-width: 740px) {
    h1 {
        font-size: 3.157rem; }
    h2 { 
        font-size: 2.369rem; }
    h3 {
        font-size: 1.777rem; }
    h4 {
        font-size: 1.25rem; }
    
    .giant {
        font-size: 1.33rem; }
}

/* UTILITY  */
.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.transparent {
    opacity: var(--transparency);
}

.line{
    border: 0;
    border-top: solid 1px var(--color-text);
    opacity: .2;
    transform: translate(-8%, -1rem);
    width: 120%;
    margin-bottom: 4rem;
}
