.btn {
    border-radius: 50%!important;
    background-color: var(--color-gray-dark)!important;
    border: solid 1px #666666 !important;
    width: 128px;
    height: 128px;
}

@media only screen and (max-width: 740px) {
    .btn{
        width: 80px;
        height: 80px;
    }

    .btn img {
        height: 32px;
        width: 32px;
    }
}