.container {
  height: 166px;
  width: 100%;
  position: relative;

}

.bigText {
  position: absolute;
  left: -19.58%;
  top: -125%;
  font-family: var(--text-heading);
  opacity: 0.08;
  box-sizing: border-box;
  font-size: 50vw;
  color: transparent;
  -webkit-text-stroke: 4px var(--color-text);
  font-weight: 900;
}