nav {
  height: 5rem;
}

.container {
  height: 10rem;
  width: 100%;
  position: relative;

}

.bigText {
  position: absolute; 
  left: -19.58%;
  top: -125%;
  font-family: var(--text-heading);
  opacity: 0.08;
  box-sizing: border-box;
  font-size: 50vw;
  color: transparent;
  -webkit-text-stroke: 4px var(--color-text);
  font-weight: 900;
}

.link {
  margin-right: 1rem;
  padding: 1rem 0;
  color: var(--color-text);
}

.nav{
  /* display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  justify-items: end;
  align-items: center; */
}

.nav a{
  border: none;
}

.logo {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

.logo:hover{
  opacity: 1;
}

.row {
  align-items: center !important;
}