.quote blockquote > p {
  font-size: 2.375rem;
  font-style: italic;
  font-weight: 300;
  max-width: 58rem;
}

.quote {
  display: flex;
  flex-direction: column;
  opacity: var(--transparency);
  padding-top: 6rem;
  position: relative;
}

.quote footer {
  font-size: 1.333rem;
  font-style: normal;
}
.quote footer cite {
  font-style: normal;
  line-height: 1;
}

.quote footer p {
  font-weight: 600;
  font-size: 1.333rem ;
  line-height: 1;
  opacity: var(--transparency);
}

.quote hr {
  border: none;
  background-color: white;
  height: 2px;
  width: 85%;
  opacity: .2;
  margin-bottom: 2.5rem;
  margin-left: 0;
}

.quote hr:after {
  content: '"';
  font-size: 15rem;
  font-family: var(--text-heading);
  background-color: var(--color-bg);
  position: absolute;
  height: auto;
  top: -3%;
  right: 0;
}

.from {
  display: inline-block;
}

.quote footer {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1rem;
  align-items: center;
  line-height: 1;
}

.logoCit {
  width: 134px;
}

@media only screen and (max-width: 740px) {
  .quote blockquote > p {
    font-size: 1.4rem;
    }
    .logoCit {
      width: 67px;
    }
}